{% extends "base.html" %}

{% load display %}

{% block css %}
    <style type="text/css">
.value {
    font-family: monospace;
    background: #EEE;
}
     </style>
{% endblock %}

{% block content %}
<form method="get" action="/">
  <p>
    <label for="id_q">search:</label><input id="id_q" name="q" type="text" />
    <input type="submit" value="search">
  </p>
</form>

    <h2>XML Document (<a href="{% url "download_xml" xmldocument.id  %}">Download</a>)</p>
</h2>
    <hr/>

    <table>
      <tr>
	<td><label>filename:</label></td>
	<td><span class="value">{{ xmldocument.filename }}</span></td>
      </tr>
      <tr>
	<td><label>creator:</label></td>
	<td><span class="value">{{ xmldocument.creator }}</span></td>
      </tr>
      <tr>
	<td><label>created:</label></td>
	<td><span class="value">{{ xmldocument.created }}</span></td>
      </tr>
      </table>
    <textarea class="value" cols="80" rows="40" readonly="true">{{ xmldocument.contents|as_xml }}</textarea>
{% endblock %}
