{% extends "base.html" %}

{% load staticfiles display %}

{% block css %}
    <style type="text/css">
.value {
    font-family: monospace;
    background: #EEE;
}

.CodeMirror {border: 1px solid black; font-size:13px}
     </style>
    <link rel="stylesheet" href="{% static "xmlfacets/cm/codemirror.css" %}">
{% endblock %}

{% block js %}
<script src="{% static "xmlfacets/cm/codemirror.js" %}"></script>
<script src="{% static "xmlfacets/cm/xml.js" %}"></script>
{% endblock %}

{% block content %}
<form method="get" action="{% url 'index' %}">
  <p>
    <label for="id_q">search:</label><input id="id_q" name="q" type="text" />
    <input type="submit" value="search">
  </p>
</form>

    <h2>XML Document (<a href="{% url "download_xml" xmldocument.id  %}">Download</a>)</p>
</h2>
    <hr/>

    <table>
      <tr>
	<td><label>filename:</label></td>
	<td><span class="value">{{ xmldocument.filename }}</span></td>
      </tr>
      <tr>
	<td><label>creator:</label></td>
	<td><span class="value">{{ xmldocument.creator }}</span></td>
      </tr>
      <tr>
	<td><label>created:</label></td>
	<td><span class="value">{{ xmldocument.created }}</span></td>
      </tr>
      </table>
    <textarea id="xmldocument" class="value" cols="80" rows="40" readonly="true">{{ xmldocument.contents|as_xml }}</textarea>

<script>
      var editor = CodeMirror.fromTextArea(
	  document.getElementById("xmldocument"),
	  { mode: "xml", readOnly: true });
</script>
{% endblock %}
