<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% load staticfiles %}

    <title>Cendari XML Facetted Search</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>
    <style type="text/css" href="{% static "xmlfacets/main/css/base.css" %}"/>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  {% load display %}
  
  <body>
    <a href="http://cendari.eu"><img src="{%static "xmlfacets/main/img/cendari_logo.png" %}"alt="Cendari logo"/></a><H1>Cendari XML Faceted Search</h1>
    {% block content %}{% endblock %}
  </body>
</html>
